html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #fdf1db;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

input {
  border: none;
  outline-width: 0;
}

.logo {
  color: #fe6167;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 4px 4px black;
}

.name {
  color: #fe6167;
}

.blue-btn {
  background-color: #aaddff;
  transition: 200ms;
}

.blue-btn:hover {
  background-color: #92d4ff;
}

.sidebar-btn {
  transition: 200ms;
}

.sidebar-btn:hover {
  background-color: #ffffb5;
}

.sidebar-active-btn {
  background-color: #fdfd93;
}

.sidebar {
  height: calc(100vh - 76px);
}

.content {
  width: calc(100% - 320px);
  height: calc(100vh - 76px);
  overflow-y: auto;
}

.panel-shadow {
  box-shadow: 4px 4px;
  border: 3px solid black;
}

.panel-shadow-sm {
  box-shadow: 2px 2px;
  border: 2px solid black;
}

.bg-sec {
  background-color: #fffff1;
}

.yellow-btn {
  background-color: #feff83;
  transition: 200ms;
}

.yellow-btn:hover {
  background-color: #f7d62d;
}

.sec-btn {
  background-color: #fffff1;
  transition: 200ms;
}

.sec-btn:hover {
  background-color: #fde8c0;
}

.border-l-3 {
  border-left: 3px solid black;
}

.bg-light-green {
  background: #adffe2;
}

.bg-green {
  background: #21ffb6;
}

.disabled-btn {
  background: #c8c8c8;
  cursor: not-allowed !important;
  transition: 200ms;
}

.green-btn {
  background: #21ffb6;
  transition: 200ms;
}

.green-btn:hover {
  background: #00fc9e;
}

.sec-btn:hover {
  background-color: #fde8c0;
}

.bg-light-red {
  background: #f79997;
}

.divider {
  border-bottom: 3px solid black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
